@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

:root {                       /* Variables */
	--azul-fuerte: #0A3871;
	--gris-noseque: #D8DFE8;
	--light: 200;
	--medium: 400;
	--bold: 600;
}

* {                           /* Unica forma de ponerle la fuente a todo */
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #f3f5fc;      /* Este es el verdadero color de fondo */
}

header {
	margin-left: 84px;
	margin-top: 28px;
}

main {
	display: flex;        /* Orientar los items en modo row */
	margin-left: 180px;
}

.input-texto {
	margin-top: 24px;
	resize: none;         /* No habilitar el icono abajo derecha del text area */
	height: 450px;        /* Altura */
	width: 700px;         /* Ancho */
	background: transparent;        /* Fondo transparente, nada de fondo y por lo tanto el fondo del body */
	border: none;         /* Sin bordes */
	padding: 14px;        /* Margen interno */
	font-size: 28px;      /* Tamaño de fuente */
	color: var(--azul-fuerte);      /* Ocupar variables para poner el color de la letra */
}

.input-texto:focus { /*Este es el color que no es ni clickear ni pasar por encima, es mas bien focus: despues de que le das click se queda focus*/
	outline: none;        /* Marco alrededor despues de clickear en el text area */
}

.input-texto::placeholder {
	font-weight: var(--medium);
	font-size: 28px;      /* Edicion de la letra del placeholder */
	color: var(--azul-fuerte);
}

.texto-restricciones {
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom: 12px;
	display: flex;        /* Poner el icono y texto de restriccion sobre la misma linea */
	gap: 6px;
	align-items: center;  /* Alinear a la misma altura el icono y el texto */
}

.texto-restricciones p {
	font-size: 12px;
	color: #495057;
}

.exclamacion {
	display: inline;      /* Que la imagen no ocupe todo el ancho */
}

.botones {
	display: flex;
	justify-content: space-evenly; /* Espacios a los laterales y entre los items */
}

.encriptar {
	height: 48px;
	width: 45%;
	background-color: #0A3871;
	color: #FFFFFF;
	border: none;
	border-radius: 14px;
}

.desencriptar {
	height: 48px;
	width: 45%;
	background-color: var(--gris-noseque);
	color: var(--azul-fuerte);
	border-radius: 14px;
	border: 1px solid var(--azul-fuerte);
}

.desencriptar:hover, .encriptar:hover {
	cursor: pointer;
}

.output-texto {
	margin-left: 44px;
	border: none;
	border-radius: 14px;
	padding: 14px;
	resize: none;
	height: 450px;
	width: 350px;
	background-image: url("images/Muñeco.png");
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: 300px;
	font-size: 24px;
	height: 89%;
	position: absolute;
	top: 28px;
	font-size: 20px;
	color: black;
}

.output-texto:focus {
	outline: none;
	background: white;
}

.output-texto::placeholder {
	text-align: center;
	padding-top: 400px;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.output-texto:hover {
	background: white;
}

.copiar {
	position: absolute;
	top: 89%;
	left: 75%;
	height: 48px;
	width: 250px;
	background-color: white;
	color: var(--azul-fuerte);
	border-radius: 14px;
	border: 1px solid var(--azul-fuerte);
	display: none;
}

.copiar:hover {
	cursor: pointer;
}
