body {
	font-family: "Inter";
	background-color: #f3f5fc; /*Este es el verdadero color de fondo, el que tome cuando te lo mostre estaba mal xd*/
}

header {
	margin-left: 84px;
	margin-top: 40px;
}

main {
	display: flex;
	margin-left: 90px;
	margin-bottom: 50px;
	margin-top: 20px;
}

.input-texto {
	resize: none;
	height: 450px;
	width: 800px;
	background: transparent;
	border: none;
	margin-top: 4px;
	padding: 14px;
}

.input-texto::placeholder {
	color: #0A3871;
}

.texto-restricciones {
	margin-top: 8px;
	margin-bottom: 12px;
	display: flex;
	gap: 6px;
	display: flex;
	align-items: center;
}

.output-texto {
	border: none;
	border-radius: 14px;
	padding: 14px;
	resize: none;
	height: 450px;
	width: 400px;
	background-image: url("images/Muñeco.png");
	background-repeat: no-repeat;
}

.copiar {
	display: none;
}

.exclamacion {
	display: inline;
}

.encriptar {
	height: 42px;
	width: 30%;
	background-color: #0A3871;
	color: #FFFFFF;
	border: none;
	border-radius: 14px;
}

.desencriptar {
	height: 42px;
	width: 30%;
	background-color: #D8DFE8;
	color: #0A3871;
	border-radius: 14px;
	border: 1px solid #0A3871;
}

.desencriptar:hover, .encriptar:hover {
	cursor: pointer;
}

.botones {
	display: flex;
	justify-content: space-evenly;
}

.texto-restricciones p {
	font-size: 12px;
	color: #495057;
}
